@import "~@csstools/normalize.css";

.App {
  text-align: center;
}

.propertiesWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}
